//lightmode colors
$greyLmode: #697c9a;
$blueGreyLmode: #4b6a9b;
$darkGreyLmode: #2b3442;
$mattWhiteLmode: #f6f8ff;
$whiteLmode: #fefefe;

//darkmode colors:
$whiteDmode: #ffffff;
$softBlackDmode: #141d2f;
$darkBlueGreyDmode: #1e2a47;

//colors
$mainBlue: #0079ff;
$unavailable: #9a9797;
